@using Microsoft.AspNetCore.Identity
@using HandmadeWeb.Entities
@using System.IO
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    ApplicationUser user = await UserManager.FindByNameAsync(User.Identity.Name);
    <li>
        <img src="@Url.Content(user.Avatar)" class="profile" />
        <ul>
            <li class="sub-item non-pointer">
                <p>@User.Identity.Name</p>
            </li>
            <li class="sub-item">
                <span class="material-icons-outlined"> manage_accounts </span>
                <a href="profile-account-page.html">Изменить профиль</a>
            </li>
            <li class="sub-item">
                <span class="material-icons-outlined"> logout </span>
                @* <a>Выйти</a> *@
                <form class="log-out" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" method="post">
                    <button type="submit" class="log-off">Выйти</button>
                </form>
            </li>
        </ul>
    </li>
    <li>
        <a class="cart" href="cart-page.html">
            <img class="cart__img" src="~/images/shopping-cart.png">
            <p class="cart__counter">
                2
            </p>
        </a>
    </li>
}
@* else
{
    <li>
        <a class="inline-nav__link"
           asp-area="Identity"
           asp-page="/Account/Login">
            Войти
        </a>
    </li>
} *@