@using HandmadeWeb.Entities
@using System.IO
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    ApplicationUser user = await UserManager.GetUserAsync(User);
    { }
    <li>
        <img src="@Url.Content(user.Avatar)" class="profile" />
        <ul>
            <li class="sub-item non-pointer">
                <p>@user.UserName</p>
            </li>
            <li class="sub-item">
                <span class="material-icons-outlined"> manage_accounts </span>
                <a asp-area="Profile" asp-page="/Account/Index">Изменить профиль</a>
            </li>
            <li class="sub-item">
                <span class="material-icons-outlined"> logout </span>
                <form class="log-out" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" method="post">
                    <button type="submit" class="log-off">Выйти</button>
                </form>
            </li>
        </ul>
    </li>
    @await Component.InvokeAsync("Cart")
}