.authorization {
    max-width: 1420px;
    margin: 0px auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;   
}

.authorization h2{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 50px;  
}

.authorization h3{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 15px;  
}

.authorization__label {
    font-family: 'Arial';
    font-weight: bold;
    margin-bottom: 15px;
    align-self: center;
    font-size: 36px;
}

.authorization__input{
    font-family: 'Arial';
    font-weight: bold;
    margin-bottom: 30px;
    width: 500px;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 36px;
    border: none;
    background: #D9D9D9;
    border-radius: 20px;
}

.authorization__input:focus {
    background-color: #ffffff;
    outline: 3px solid #000000;
}

.authorization__input::placeholder {
    color: #474747;
}

.authorization__button {
    align-self: center;
    font-family: 'Arial';
    font-weight: bold;
    width: 500px;
    margin-bottom: 60px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 36px;
    border: none;
    background: rgb(39, 38, 38);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.7s;
    color: white;
}

.authorization__button:hover {
    background: rgba(39, 38, 38, 0.863);
    scale: 1.05;
}

.authorization__link {
    align-self: center;
    font-family: 'Arial';
    display: block;
    font-weight: bold;
    width: 500px;
    margin-bottom: 60px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 36px;
    border: none;
    text-decoration: none;
    color: white;
    background-color: rgb(39, 38, 38);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.7s;
}

.authorization__link:hover {
    background: rgba(39, 38, 38, 0.863);
    scale: 1.05;
}