.main-categories {
    max-width: 1420px;
    margin: 0px auto;
}

.main-categories h1{
    text-align: center;
    width: 100%;
    font-family: 'Arial';
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
}

.main-categories__list{
    max-width: 1420px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-categories__list__items{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    column-gap: 20px;
    /* row-gap: 40px; */
}

.main-categories__list__additional-items{
    padding-top: 30px; 
    /* margin-top: 40px; */
    display: flex; 
    overflow: hidden;
    max-width: 1060px;
    max-height: 0px;
    justify-content: center;
    flex-wrap: wrap; 
    column-gap: 20px;
    row-gap: 30px;
    transition: 0.5s;
}

.main-categories__category {
    display: block;
    word-wrap: break-word;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.7s; 
}

.main-categories__category:hover {
    scale: 1.1;
} 

.main-categories__category__img {
    width: 130px;
    height: 160px;   
    object-fit: cover;
    border-radius: 10px;
}

/* .main-categories__category__img_size_m{
    width: 200px;
    height: 280px;   
} */

.main-categories__category__title {
    padding-top: 5px;
    width: 160px;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.see-more-button { 
    /* margin-top: 30px; */
    margin-bottom: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    border: none;
    background: #dbdbdb;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.5s;
}

.see-more-button:hover {
    background: #cecbc9; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    /* color: #ffffff; */
}

.product-category-list {
    max-width: 1420px;
    margin: 0px auto;
}

.product-category-list__name {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

.product {
    display: block;
    word-wrap: break-word;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.7s; 
}

.product:hover {
    scale: 1.1;
} 

.product__img {
    width: 230px;
    height: 230px;   
    border-radius: 30px;
    object-fit: cover;
}

/* .poster__img_size_m{
    width: 200px;
    height: 280px;   
} */

.product__rating {
    position: absolute;
    top: 15px;
    left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px; 
    background-color: #ffffff;
}

.product__price {
    position: absolute;
    top: 180px;
    left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px; 
    background-color: #ffffff;
}

/* .poster__rating_positive {
    background-color: #00DF59;
}

.poster__rating_neutral {
    background-color: #8b8b8b;
}

.poster__rating_negative {
    background-color: #df2100;
} */

.product__rating-score {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

.product__price-score {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}


.product__title {
    padding-top: 5px;
    width: 230px;
    font-family: 'Arial';
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

/* .poster__title_size_m {
    width: 200px;
    font-size: 14px;
} */

.product__seller {
    padding-top: 5px;
    width: 230px;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

/* .poster__tagline_size_m {
    width: 200px;
    font-size: 14px;
} */

.wrap-row {
    padding-top: 20px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 60px;
    
}
  