.profile-container {
    max-width: 1000px;
    margin: 0px auto;
}

.profile-container__title {
    font-family: 'Charter';
    font-size: 42px;
    color: #000000;
    margin-bottom: 20px;
}

.start-btn {
    text-decoration: none;
    font-family: 'Arial';
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 220px;
    background-color: white;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    user-select: none;
    color: #000000;
}

    .start-btn:hover {
        box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.445)
    }

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: 'Charter';
    font-size: 26px;
}

.profile-info__data {
    display: flex;
    align-items: center;
}

    .profile-info__data p.info-name {
        font-weight: bold;
        width: 350px;
    }

.edit-btn {
    text-decoration: none;
    font-family: 'Arial';
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 220px;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    color: #000000;
}

    .edit-btn:hover {
        box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.445)
    }
